html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  nav {
    background-color: lightgray;
    color: rgb(0, 0, 0);
    padding: 20px 50px;
  }
  
  
  
  .navOben {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .searchInput {
    border: none;
    background-color: transparent;
  }
  
  .searchInput::placeholder {
    color: rgb(0, 0, 0);
  }
  
  .Willkommen {
    font-size: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .navUnten {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  
  .Hintergrund {
    background: url(https://www.bing.com/images/search?view=detailV2&ccid=FbQVLkc5&id=E999607A073A03CE37CF8E49466DA5F1418A8C90&thid=OIP.FbQVLkc5MlTHsuQNCjJRcAHaE8&mediaurl=https%3a%2f%2fwww.color-hex.com%2fpalettes%2f7707.png&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.15b4152e47393254c7b2e40d0a325170%3frik%3dkIyKQfGlbUZJjg%26pid%3dImgRaw%26r%3d0&exph=600&expw=900&q=hellgraue+farbe&simid=608008335652451129&FORM=IRPRST&ck=C445A1008B5F57572AFC213E4F19D57C&selectedIndex=7&ajaxhist=0&ajaxserp=0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
  }
  
  .SliderHintergrund {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
  }
  
  .HintergrundItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .HintergrundBG {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
  }
  
  .sliderImg {
    z-index: 1;
  }
  
  .HintergrundTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: black;
    z-index: 1;
  }
  
  .HintergrundPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    
    z-index: 1;
  }
  .knopf{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    cursor: pointer;
  }
  
  .Kaufknopf {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    cursor: pointer;
  }
  
  .buyButton:hover {
    background-color: white;
    color: black;
  }
  
  
  
  .Informationen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .Information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Icon {
    width: 50px;
    height: 50px;
  }
  
  .InformationTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  
  .InformationText {
    color: gray;
    width: 50%;
    height: 100px;
  }
  
  .product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  
  
  label {
    font-size: 14px;
    font-weight: 300;
  }
  

  .sm {
    width: 30%;
  }
  
 
  
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
  
  .productImg {
    width: 50%;
  }
  
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  
  .productTitle {
    font-size: 75px;
    font-weight: 900;
  }
  
  .productDesc {
    font-style: 24px;
    color: gray;
  }
  
  .colors,
  .sizes {
    display: flex;
    margin-bottom: 20px;
  }
  
  .color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    margin-right: 10px;
    cursor: pointer;
  }
  
  .color:last-child {
    background-color: white;
  }
  
  .size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .productButton {
    float: left;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .productButton:hover {
    background-color: white;
    color: black;
  }
  
  .gallery {
    padding: 50px;
    display: flex;
  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
  }
  
  .galleryImg {
    width: 100%;
  }
  
  .newSeason {
    display: flex;
  }
  
  .nsItem {
    flex: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nsImg {
    width: 100%;
    height: 500px;
  }
  
  .nsTitle {
    font-size: 40px;
  }
  
  .nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  footer {
    display: flex;
  }
  
  .LinkerText {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .MenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .Textunten{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .RechterText {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }
  
  @media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .sliderPrice{
      top: unset;
      bottom: -50;
      left: 0;
      background-color: lightgrey;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
  
    footer{
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
    }
  
    .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
    }
  
    
  }